@import "src/core/styles/mixins";

.footer {
  min-height: 200px;
  background-color: #6b1a1b;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #ffcece;
}

.footerContent {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  @include desktop-only {
    flex-direction: row;
    padding-bottom: 0;
  }
}

.links {
  flex: 1;
  margin-top: 20px;
  margin-left: 20px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 0;
  }

  .link {
    color: #ffe1d6;
    font-weight: 600;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  @include desktop-only {
    width: 30%;
    margin-left: 0;
  }
}

.contacts {
  border-top: 1px solid #ffe9e9;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 30px;

  @include desktop-only {
    border-top: none;
    margin-top: 0;
    width: 30%;
    border-left: 1px solid #ffe9e9;
  }
}

.contactsTable {
  margin-top: 6px;
}

.contactsTitle {
  font-size: 16px;
}

.valuecell {
  padding-left: 10px;
}