@use "src/core/styles/mixins" as *;

.articlesSection {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 20px;

  .listTitle {
    font-size: 26px;
    color: #b93032;

    @include desktop-only {
      font-size: 36px;
    }
  }

  .articlesList {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include desktop-only {
      gap: 32px;
    }
  }

  .notFoundText {
    margin-top: 20px;
    font-size: 18px;

    @include desktop-only {
      font-size: 24px;
    }
  }
}