@use "../../../core/styles/mixins" as *;

.mobile {
  display: block;

  @include desktop-only {
    display: none;
  }
}

.desktop {
  display: none;

  @include desktop-only {
    display: block;
  }
}


.introSection {
  position: relative;
  z-index: 1;
  background: #fff2c9;
  color: #972526;
  padding: 40px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .introSectionContent {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url('/noises.webp');
    opacity: .05;
    pointer-events: none;
    mix-blend-mode: multiply;
  }


  .introTitle {
    text-align: center;
    font-size: 36px;

    @include desktop-only {
      font-size: 64px;
    }
  }

  .introText {
    max-width: 800px;
    text-wrap: wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

    @include desktop-only {
      margin-top: 20px;
    }
  }

  .introButton {
    margin-top: 20px;
    background: #b93032;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #fff3f3;

    &:hover {
      background: #aa282a;
    }
  }

  .introImage {
    margin-top: 20px;
    border-radius: 200px;
  }
}

.missionSection {
  background: #fffcf7;
  color: #4a1f1f;
  padding: 60px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .missionSectionCapture {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #b93032;
    margin-bottom: 16px;
  }

  .missionSectionText {
    max-width: 880px;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 500;

    em {
      font-style: normal;

      span:last-child {
        font-weight: bold;
        color: #b93032;
      }
    }
  }
}

.findCategorySection {
  background: #801212;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffeeee;
  position: relative;
  padding: 60px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url('/noises.webp');
    opacity: .10;
    pointer-events: none;
    mix-blend-mode: multiply;
  }

  .categoriesLinksBlock {
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .findCategoryTitle {
    font-size: 28px;

    @include desktop-only {
      font-size: 36px;
    }
  }

  .findCategoryDescription {
    font-size: 14px;
    margin-top: 6px;

    @include desktop-only {
      font-size: 18px;

    }
  }

  .categoriesLink {
    background: transparent;
    border: 1px solid #fdfdfd;
    padding: 8px 18px;
    border-radius: 9999px;

    @include desktop-only {
      padding: 12px 20px;
    }

    &:hover {
      background: rgba(170, 0, 0, 0.6);
    }

    &:focus{
      outline-color: #ffffff;
      outline-width: 1px;
      outline-offset: 6px;
    }

  }
}

.categorySection {
  padding-top: 50px;
  padding-bottom: 50px;
}