@use "src/core/styles/vars.module" as *;

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100svh;
  background-color: #ffffff !important;
}

body {
  /*color: var(--foreground);*/
  /*background: var(--background);*/
  padding-top: $headerHeight;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #401b1b;
  background-color: #ffffff !important;
}

main {
  background-color: #ffffff !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol, li  {
  list-style-type: none;
  padding-left: 0;
}
