@import "src/core/styles/mixins";
@import "src/core/styles/vars.module";

.mobile {
  display: block;

  @include desktop-only {
    display: none;
  }
}

.desktop {
  display: none;

  @include desktop-only {
    display: block;
  }
}

.header {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fffbfb;
  height: $headerHeight;
  display: flex;
  border-bottom: 1px solid #ebd3d3;
  justify-content: center;
  padding: 0 14px;

  @include desktop-only {
    padding: 0 40px;
  }
}

.logoBlock {
  display: flex;
  align-items: center;
}

.headerContent {
  max-width: 1200px;
  width: 100%;
  display: flex;
}

.icon {
  fill: #6b1a1b;
  color: #6b1a1b;
}

.logoText {
  margin-left: 10px;
  font-size: 26px;
  font-weight: 700;
  color: #b93032;

  @include desktop-only {
    font-size: 38px;
  }
}

.link {
  display: flex;
}

.localeSwitcherBlock {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1;
}

.navigation {
  display: none;
  flex: 1;
  padding-left: 30px;
  padding-right: 8px;
  align-items: end;

  & .navigationContent {
    min-height: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 5px;

    & .navLinkBlock {
      padding: 0 14px;
      align-items: center;
      display: flex;
      position: relative;
      text-wrap: nowrap;

      & .navLink {
        height: 100%;
        display: flex;
        align-items: center;
      }

      &.navLinkBlockActive {
        color: #b93032;

        & .navLinkText::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          bottom: 0;
          background: #b93032;
        }
      }

      &:hover {
        color: #b93032;

        & .navLinkText::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          bottom: 0;
          background: #b93032;
        }
      }
    }
  }

  @include desktop-only {
    display: flex;
  }
}
