@use "src/core/styles/mixins" as *;

.categorySection {
  background: #fff2c9;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 600px;
  position: relative;
  flex-direction: column;

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url('/noises.webp');
    opacity: .05;
    pointer-events: none;
    mix-blend-mode: multiply;
  }

  @include desktop-only {
    flex-direction: row;
  }
}

.imageBlock {
  aspect-ratio: 2/1;
  position: relative;
  right: 0;
  width: 95%;
  margin-top: 40px;
  align-self: end;

  @include desktop-only {
    height: min(23vw, 400px);
    width: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.description {
  max-width: 500px;
  font-size: 24px;
}

.categoryImage {
  object-position: right;
  border-radius: 9999px 0 0 9999px;
}

.textBlock {
  position: relative;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
}

.articlesSection {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 20px;

  .listTitle {
    font-size: 26px;
    color: #b93032;

    @include desktop-only {
      font-size: 36px;
    }
  }

  .articlesList {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include desktop-only {
      gap: 32px;
    }
  }

  .notFoundText {
    margin-top: 20px;
    font-size: 18px;

    @include desktop-only {
      font-size: 24px;
    }
  }
}