@use "vars.module" as *;

@mixin desktop-only {
  @media (min-width: calc(#{$maxMobileWidth} + 1px)) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: #{$maxMobileWidth}) {
    @content;
  }
}
